<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Paketversand</title>
	<link type="text/css" rel="stylesheet" href="css/formatierungen.css" />
</head>
<body>

<!-- header -->
<div id="kopf">
<a href="?action=home">Home</a>
<a href="?action=sendung_verfolgen">Sendung verfolgen</a>
<a href="?action=paket_versenden">Paket versenden</a>
<a href="?action=verwaltung">Verwaltung</a>
__#__LOGIN__#__
__#__LOGOUT__#__
</div>

<!-- content -->
<div id="hauptteil">
__#__CONTENT__#__
</div>

<!-- footer -->
<div id="fuss">
<a href="?action=kontakt">Kontakt</a>
<a href="?action=impressum">Impressum</a>
<a href="?action=agb">AGB</a>
<a href="?action=download">Download</a>
<a href="?action=veraltet">Veraltet</a>
</div>

</body>
</html>